body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #cadeff;
}

header,
main,
footer {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav i {
    font-size: 1.3rem;
}

main,
section {
    display: flex;
    flex-direction: column;
}

main {
    gap: 3rem;
}

section {
    gap: 1rem;
}

.hero-section {
    position: relative;
    background: linear-gradient(to bottom right, #171758, #2a61c7);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.hero-title {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%) scaleY(5);
    transform-origin: top;
    font-family: "Alatsi", sans-serif;
    font-size: clamp(3rem, 8vw, 7rem);
    z-index: 0;
    pointer-events: none;
    white-space: nowrap;
}

.hero-image {
    width: 100%;
    height: auto;
    border-radius: 12px;
    filter: grayscale(60%);
    transition: filter 0.5s ease, transform 0.5s ease;
    transform: scale(1.02);
}

.hero-image:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}

.hero-meta {
    position: absolute;
    bottom: 3%;
    left: 5%;
    max-width: 400px;
}

.hero-meta h5 {
    font-size: clamp(15px, 3vw, 1.5rem);
    margin-bottom: 0.5rem;
}

.hero-meta p {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    margin-bottom: clamp(0, 2.5vw, 1.5rem);
    text-align: justify;
}

.links-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

.link-arrow {
    color: var(--color-link);
    transform: rotate(-45deg);
}

.color-div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cards-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 0.5rem;
}

.stack-list {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding: 0.25rem 0;
}

.stack-list div {
    padding: 0.1rem 0.5rem;
    border-radius: var(--border-radius-small);
}

.stack-list p {
    font-size: 0.8rem;
}

.card-button-ongoing {
    background-color: #fef0e6;
    color: #f76707;
    border-radius: var(--border-radius-small);
    padding: 0.01rem 0.5rem;
    font-size: 0.8rem;
}

.card-button-primary {
    border-radius: var(--border-radius-small);
    padding: 0.01rem 0.5rem;
    font-size: 0.8rem;
}

.padlock {
    color: #5147e5;
    cursor: pointer;
}

.cards-grid-cont {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 300px;
    text-align: center;
}
.modal-content input {
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}
.modal-content button {
    padding: 0.5rem 1rem;
    background: #5147e5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #4caf50;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 2000;
    right: 20px;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 0.5s, bottom 0.5s;
}
.toast.show {
    visibility: visible;
    opacity: 1;
    top: 20px;
}

@media (min-width: 640px) {
    .project-card {
        flex-direction: row;
    }

    .project-card .img-div {
        max-width: 45%;
    }

    .modal-content {
        max-width: 400px;
    }
}

@media (max-width: 480px) {
    .hero-meta {
        left: 3%;
        max-width: 90vw;
    }
    .hero-title {
        top: 10%;
    }
}
